<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<phpunit bootstrap="./vendor/autoload.php" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" verbose="true">
    <testsuites>
        <testsuite name="all">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true" processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./tests</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="/tmp/vemid/tests" lowUpperBound="50" highLowerBound="80"/>
    </logging>
</phpunit>
