{% block title %}
    <title>{{ t('Onesta|PoÄetna') }}</title>
{% endblock %}

{% extends "@layout/main.html.twig" %}


{% block content %}
    <h1>Index</h1>
    <p class="important">
        Welcome on my awesome homepage.
    </p>
{% endblock %}


