{% block title %}
    <title>{{ t('Proizvod|List') }}</title>
{% endblock %}

{% extends "@layout/main.html.twig" %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="card ibox float-e-margins box-shadow">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="space-20"></div>
                        <table id="dataTable" class="table table-stripped toggle-arrow-tiny" data-title="{{ t('Product List') }}">
                            <thead>
                            <tr>
                                <th>Subscriber ID</th>
                                <th>Install Location</th>
                                <th>Subscriber Name</th>
                                <th>some data</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
