<div class="loader-box">
    <div class="loadingio-spinner-spinner-xw19uzpim1">
        <div class="ldio-bjzadaetf2">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
